html {
    min-height:100%;
    background: #141e30;
    background: -webkit-linear-gradient(to top, #141e30, #243b55);
    background: linear-gradient(to top, #141e30, #243b55);
}

body {
    font-family: 'Arial', sans-serif;
    margin:10vh;
    background:steelblue;
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#logo {
    background:#1c7ee6;
    width:100%;
    height:80px;
    padding-top:10px;
    padding-bottom:10px;
    margin: 0;
    left:0;
    right:0;
    text-align: center;
    font-size: larger;
    color:white;
}

#wrapper {
    box-shadow: 10px 14px 65px 4px rgba(0,0,0,0.75);
}

#chat-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

button {
    background:#1c7ee6;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}